<div class="min-h-screen flex items-center justify-center bg-gradient-to-br from-blue-100 to-gray-200 px-4">

  <div class="w-full max-w-sm bg-white p-6 rounded-lg shadow">

    <!-- タイトル -->
    <h2 class="text-xl font-semibold text-gray-800 mb-4 text-center">
      新規登録
    </h2>

    <% if resource.errors.any? %>
      <div class="bg-red-100 text-red-700 p-2 rounded mb-4 text-sm">
        <%= resource.errors.full_messages.join(", ") %>
      </div>
    <% end %>

    <%= form_with model: resource, url: registration_path(resource_name), local: true do |f| %>

      <!-- メール -->
      <div class="mb-4">
        <%= f.label :email, "メールアドレス", class: "block text-sm text-gray-600 mb-1" %>
        <%= f.email_field :email,
          class: "w-full border border-gray-300 rounded-lg px-3 py-2 
              focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent transition" %>
      </div>

  <!-- パスワード -->
<div class="mb-6 relative">
  <%= f.label :password, "パスワード", class: "block text-sm mb-1" %>

  <%= f.password_field :password,
      id: "password_field",
      class: "w-full border border-gray-300 rounded-lg px-3 py-2 pr-10 
              focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent transition" %>



  <!-- アイコン -->
  <span id="toggle_password"
      class="absolute right-3 top-9 cursor-pointer text-gray-500">

  <!-- 目（表示OFF） -->
  <svg id="eye_open" xmlns="http://www.w3.org/2000/svg"
       class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
      d="M2.458 12C3.732 7.943 7.523 5 12 5
         c4.477 0 8.268 2.943 9.542 7
         -1.274 4.057-5.065 7-9.542 7
         -4.477 0-8.268-2.943-9.542-7z"/>
  </svg>

  <!-- 目閉じ（表示ON） -->
  <svg id="eye_closed" xmlns="http://www.w3.org/2000/svg"
       class="h-5 w-5 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
      d="M13.875 18.825A10.05 10.05 0 0112 19
         c-4.478 0-8.268-2.943-9.543-7
         a9.956 9.956 0 012.042-3.368M6.223 6.223
         A9.956 9.956 0 0112 5c4.478 0 8.268 2.943
         9.543 7a9.97 9.97 0 01-4.293 5.065M15 12
         a3 3 0 11-6 0 3 3 0 016 0zM3 3l18 18"/>
  </svg>

</span>




<!-- 確認用 -->
<div class="mb-6 relative">
  <%= f.label :password_confirmation, "パスワード（確認）", class: "block text-sm mb-1" %>

  <%= f.password_field :password_confirmation,
      id: "password_confirmation_field",
      class: "w-full border border-gray-300 rounded-lg px-3 py-2 pr-10 
              focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent transition" %>

  <!-- アイコン -->
  <span id="toggle_password_confirmation"
      class="absolute right-3 top-9 cursor-pointer text-gray-500">

  <!-- 目（表示OFF） -->
  <svg id="eye_open" xmlns="http://www.w3.org/2000/svg"
       class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
      d="M2.458 12C3.732 7.943 7.523 5 12 5
         c4.477 0 8.268 2.943 9.542 7
         -1.274 4.057-5.065 7-9.542 7
         -4.477 0-8.268-2.943-9.542-7z"/>
  </svg>

  <!-- 目閉じ（表示ON） -->
  <svg id="eye_closed" xmlns="http://www.w3.org/2000/svg"
       class="h-5 w-5 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
      d="M13.875 18.825A10.05 10.05 0 0112 19
         c-4.478 0-8.268-2.943-9.543-7
         a9.956 9.956 0 012.042-3.368M6.223 6.223
         A9.956 9.956 0 0112 5c4.478 0 8.268 2.943
         9.543 7a9.97 9.97 0 01-4.293 5.065M15 12
         a3 3 0 11-6 0 3 3 0 016 0zM3 3l18 18"/>
  </svg>

</span>

      <!-- ボタン -->
      <%= f.submit "登録する",
            class: "mt-4 w-full bg-green-500 hover:bg-green-600 text-white py-2 rounded transition" %>

    <% end %>

    <!-- 下リンク -->
    <div class="text-center mt-4 text-sm">
      <%= link_to "ログインはこちら",
          new_user_session_path,
          class: "text-blue-500 hover:underline" %>
    </div>

  </div>
</div>
