<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow-sm">
      <div class="card-body">

        <% if @task.errors.any? %>
          <div class="alert alert-danger">
            <ul>
              <% @task.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= form_with model: @task do |f| %>
          <div class="mb-4">
            <%= f.label :title, class: "block font-bold" %>
            <%= f.text_field :title, class: "w-full border rounded px-3 py-2" %>
          </div>

          <div class="mb-4">
            <%= f.label :content, class: "block font-bold" %>
            <%= f.text_area :content, class: "w-full border rounded px-3 py-2" %>
          </div>

            <%= f.submit "投稿", class: "bg-green-500 text-white px-4 py-2 rounded" %>
        <% end %>





      </div>
    </div>
  </div>
</div>