<h1 class="mb-4">
  <% if params[:keyword].present? %>
 「<%= params[:keyword] %>」の検索結果
  <% else %>
    タスク一覧
  <% end %>
</h1>

<%= link_to "＋ 新規作成", new_task_path, class: "btn btn-primary mb-3" %>

<div class="d-flex gap-2 mb-3">
  <!-- 検索フォーム -->
  <%= form_with url: tasks_path, method: :get, local: true do |f| %>
    <div class="input-group">
      <%= f.text_field :keyword, placeholder: "タイトル検索", class: "form-control" %>
      <button class="btn btn-outline-secondary">検索</button>
    </div>
  <% end %>

  <% if params[:keyword].present? %>
    <%= link_to "全て表示", tasks_path, class: "btn btn-outline-secondary" %>
  <% end %>
</div>

<% if @tasks.any? %>
  <div class="row">
    <% @tasks.each do |task| %>
      <!-- タスク表示 -->
    <% end %>
  </div>
<% else %>
  <div class="text-center mt-5">
    <% if params[:keyword].present? %>
      <p>該当するタスクがありません</p>
    <% else %>
      <p>タスクがまだありません</p>
    <% end %>
  </div>
<% end %>

<div class="row">
  <% @tasks.each do |task| %>
    <div class="col-md-4">
      <div class="card mb-3 shadow-sm">

        <div class="card-body">
          <h5 class="card-title"><%= task.title %></h5>
          <p class="card-text"><%= task.description %></p>

          <p>

            <p>
              <span class="badge
                <%= case task.status
                when "todo" then "bg-secondary"
                when "doing" then "bg-primary"
                when "done" then "bg-success"
                end %>">
              <%= case task.status
                when "todo" then "📝 未着手"
                when "doing" then "🔥 作業中"
                when "done" then "✅ 完了"
                end %>
                </span>
            </p>

          </p>

          <div class="d-flex gap-2">

            <%= link_to "編集", edit_task_path(task), class: "btn btn-sm btn-outline-primary" %>

            <%= button_to "削除", task_path(task),
                  method: :delete,
                  data: { turbo_confirm: "削除しますか？" },
                  class: "btn btn-sm btn-outline-danger" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-center mt-4">
  <%= paginate @tasks %>
</div>



