<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Tasklink" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-cache">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Bootstrap（今は一旦残す） -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body class="bg-gray-100 pt-20">

  <!-- ヘッダー -->
  <nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid flex justify-between items-center">

    <span class="navbar-brand text-white">TaskLink</span>

    <div class="text-white flex gap-4 items-center">
      <% if user_signed_in? %>
        <span>ログイン中: <%= current_user.email %></span>

        <%= link_to "ログアウト",
            destroy_user_session_path,
            data: { turbo_method: :delete },
            class: "bg-red-500 px-3 py-1 rounded" %>

      <% else %>
        <%= link_to "ログイン",
            new_user_session_path,
            class: "bg-blue-500 px-3 py-1 rounded" %>

        <%= link_to "新規登録",
            new_user_registration_path,
            class: "bg-green-500 px-3 py-1 rounded" %>
      <% end %>
    </div>

  </div>
</nav>
  
 <!-- フラッシュ -->
 <div style="
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
 ">
  <% flash.each do |type, message| %>
    <div class="flash-message" style="
      display: inline-block;
      padding: 10px;
      margin-top: 8px;
      border-radius: 6px;
      color: white;
      background: <%= type.to_s == "notice" ? "#22c55e" : "#ef4444" %>;
  ">
      <%= message %>
    </div>
  <% end %>
  </div>



  <% unless devise_controller? %>
  <div class="max-w-2xl mx-auto mt-4 bg-white p-6 rounded shadow">
    <%= yield %>
  </div>
<% else %>
  <%= yield %>
<% end %>

</body>
</html>
